body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f8f9fa;
}

/* NAVBAR */
.navbar {
    background: #222;
    color: white;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

.navbar a:hover {
    color: #00adb5;
}

/* SECTIONS */
.section {
    padding: 60px 40px;
    text-align: center;
}

.about {
    background: #00adb5;
    color: white;
}

.gray {
    background: #eeeeee;
}

.section h2 {
    margin-bottom: 20px;
}

/* SKILLS */
.skills-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

.skill {
    background: #00adb5;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
}

/* PROJECTS */
.project-card {
    background: white;
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: left;
}

.project-card h3 {
    text-align: center;
}

.project-card ul {
    padding-left: 20px;
}

/* FOOTER */
.footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 10px;
}